<ion-header collapse="fade">
  <ion-toolbar color="success">
    <ion-title class="HeaderTitle">Moestuin app</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-button  routerLinkActive="active">
          <!--<ion-icon name="add-outline"></ion-icon>-->
          <ion-label [routerLink]="['']">Terug naar begin</ion-label>
        </ion-button>
      </ion-button>
      <ion-button>
        <ion-icon name="person-outline" onclick="OpenLoginWindow"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true" *ngFor="let plant of FavorietenList" >
    <ion-item button >
      <ion-label>
        <h2>{{plant.naam}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>    <!--<ion-label>Received ID: {{ receivedId }}</ion-label>-->
 <!-- <h2 >{{plant?.naam}}</h2>
  <ion-input [value]="plant?.naam || 'Hier komt een lijst'"></ion-input>-->
  <ion-list [inset]="true" *ngFor="let plant of FavorietenList" >
      <ion-label >
        <h2 >{{plant.naam}}</h2>
      </ion-label>
  </ion-list>
</ion-content>
